arduinoCode/.idea/copilot.data.migration.ask2agent.xml
testMotor/.idea/copilot.data.migration.ask.xml
testMotor/.idea/copilot.data.migration.ask2agent.xml
testMotor/src/.idea/copilot.data.migration.agent.xml
testMotor/src/.idea/copilot.data.migration.ask.xml
testMotor/src/.idea/copilot.data.migration.ask2agent.xml
testMotor/src/.idea/copilot.data.migration.edit.xml
testMotor/src/.idea/editor.xml
testMotor/src/.idea/modules.xml
testMotor/src/.idea/src.iml
testMotor/src/.idea/vcs.xml
testMotor/src/.idea/workspace.xml

ros/build
ros/install
ros/log


ros/src/build
ros/src/install
ros/src/log